* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:hover {
  opacity: 0.8;
}

button:active {
  transform: scale(0.98);
}

/* React Flow custom styles */
.react-flow__node {
  cursor: move;
}

.react-flow__handle {
  width: 10px;
  height: 10px;
  background: #555;
  border: 2px solid white;
}

.react-flow__handle-left {
  left: -5px;
}

.react-flow__handle-right {
  right: -5px;
}

.react-flow__handle-top {
  top: -5px;
}

.react-flow__handle-bottom {
  bottom: -5px;
}
